:root {
  --input-color: #282828;
  --input-border: #ea6767;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #275efe;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #282828;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

.search {
  display: flex;
  height: 40px;
  width: 500px;
  position: relative;

  margin-right: 30%;

  &__logo {
    text-align: center;
    padding: 8px 12px;

    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: var(--input-background) 0.3s ease, border 0.3s ease,
      color 0.3s ease;
    &:focus-within {
      & > .search__logo {
        color: var(--group-color-focus);
        background: var(--group-background-focus);
        border-color: var(--group-border-focus);
      }
    }
  }

  &__input {
    width: 400px;
    padding: 8px 16px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    flex-grow: 1;

    &::placeholder {
      color: var(--input-placeholder);
    }

    &:focus {
      outline: none;
      border-color: var(--input-border-focus);

      .search__logo {
        background-color: var(--input-border);
      }
    }
  }
}

.search__logo,
.search__input {
  white-space: nowrap;
  display: block;
  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  &:first-child {
    border-radius: 6px 0 0 6px;
  }
  &:last-child {
    border-radius: 0 6px 6px 0;
  }
  &:not(:first-child) {
    margin-left: -1px;
  }
}

.search-result {
  &__background {
    position: fixed;
    z-index: -1;
    top: 74px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: 0.2s;
  }
  &-item {
    display: flex;
    height: 100px;
    margin: 5px 0;
    font-family: "Open Sans", sans-serif;

    &__image {
      width: 10%;
    }

    &-description {
      padding: 0 5px;
      width: 90%;
      display: flex;
      flex-direction: column;
      color: #282828;

      &__title {
        text-decoration: none;
        font-size: 18px;
      }
      &-about {
        display: flex;
        font-size: 14px;

        &-item {
          padding: 0 5px;
        }
        :nth-child(1) {
          padding: 0;
        }
      }
      &__genres {
        font-size: 14px;
      }
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
      transition: 0.2s;
    }
  }
}
.search-result-wrapper {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  width: 700px;
  height: 500px;
  border-radius: 5px;
  padding: 5px;

  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
