@import "global";
@import "mainPage";
@import "detailedAnimePage";
@import "header";
@import "mainPageSlider";
@import "screenshotsSlider";
@import "videosSlider";
@import "filtered";

.fetch {
  margin: 0 auto 50px;
  font-size: 24px;
  font-weight: 800;
  color: white;
}

body {
  background-color: #282828;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #fefefe;
}
